* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  padding: 10px;
  margin: 2px;
}
body *{
  font-family: Arial, sans-serif;

}


p {
  font-size: 16px;
  color: #073b66;
  height: 50px;
  width: 80%;
  margin: 10px;
  float: right;
  
  
}

#navbar {
  
  padding: 10px;
  margin: 10;
  
}

footer {
  margin:10px;
  padding:0;
  color: gray;
  font-style: italic;
  

}